################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TariffComparison.Test/obj
/TariffComparison.Test/bin/Debug
/TariffComparison/bin/Debug
/TariffComparison/obj
/ConsoleUI/obj
/ConsoleUI/bin/Debug
/.vs/TariffComparison/DesignTimeBuild
/.vs/TariffComparison/v15/Server/sqlite3
/.vs/TariffComparison/v15
